$primaryTextSoftRed: hsl(14, 88%, 65%);

@media (min-width: 1200px) {
  main {
    height: 500px;
    width: 65%;
    position: relative;
    &::after {
      position: absolute;
      content: url("style/images/illustration-box-desktop.svg");
      width: 191px;
      height: 184px;
      position: absolute;
      left: -90px;
      top: 210px;
    }
  }

  .container {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .header {
      .header__image {
        background: url("style/images/illustration-woman-online-desktop.svg");
        width: 472px;
        height: 359px;
        top: 80px;
        left: -75px;
      }
      .header__shadow {
        background: url("style/images/bg-pattern-desktop.svg");
        width: 966px;
        height: 945px;
        top: -280px;
        left: -570px;
      }
    }
  }

  .bloc__faq {
    width: 40%;
    top: -30px;
    position: absolute;
    right: 7%;
    h1 {
      margin-bottom: 30px;
      text-align: left;
    }
  }
  h2:hover {
    color: $primaryTextSoftRed;
  }
}
